USE [KidShopManagement]
GO
/****** Object:  Table [dbo].[Login_Form]    Script Date: 11/20/2024 2:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Form](
	[UserName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](50) NULL
) ON [PRIMARY]
GO
